<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color: red; font-size: 30px;" href="#">Stock Managment</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/" style="color: white">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" routerLink="/add" style="color: white">Add Books</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" routerLink="/searchbyname" style="color: white">Search By Name</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" routerLink="/searchbycompany" style="color: white">Search By Company</a>
            </li>
            
            <li class="nav-item active">
                <a class="nav-link" routerLink="/searchbycategory" style="color: white">Search By Category</a>
            </li>
        </ul>
    </div>
</nav>