#card{
    height: 295px;
    width: 304px;
}
#image{
    height: 150px;
    width: 241px;
}
#card1{
    height: 435px;
    width: 580px;
    margin-left: -100px;
}
#image1{
    height: 300px;
    widows: 400px;
}
